<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <head>
        <title>Ebute Jonah | Portfolio Website</title>
        {%load static%}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{%static 'stylesheet2.css'%}"/>
        <link rel="icon" type="img/ico" href="{%static 'favicon.ico'%}"/>
        <script src="https://use.fontawesome.com/0932eddc79.js"></script>
        <script src="../static/main.js" defer></script>
    </head>
    <body>
        <header></header>
        <div aria-controls="primary-navigation" aria-expanded="false" class="menu">
            <i id="bars" class="fa fa-bars"></i>
        </div>
        <nav id="primary-navigation" class="dropdown">
            <ul>
                <li id="interests"><i class="fa fa-clone"></i>Interests
                    <div class="sub-dropdown1">
                        <ul>
                            <li><a href="/webdesign">Web Design</a></li>
                            <li><a href="/appdesign">App Development</a></li>
                            <li><a href="/machinelearning">Machine Learning</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href=''><i class="fa fa-home"></i>Home</a></li>
                <li><a href='/portfolio'><i class="fa fa-trophy"></i>Portfolio</a></li>
            </ul>    
        </nav>  
        <main>
            <div class="name">
                <a href=""><span>EBU</span>TE &nbsp;JO<span>NAH</span></a>
            </div>
            <hr>
            <div class="main1">
                <img class='myimage' src="../static/jonah.jpg" alt="Jonah">
                <p>{{object.introduction}}</p>
            </div>
            <div class="main2">
                <p>{{object.body}}</p>
            </div>
            <div class="main3">
                <p>{{object.sites}}</p>
                <a href="https://www.w3schools.com" target="_blank"><img src="../static/w3school.png" alt='w3school'>&nbsp;w3schools</a>
                <a href="https://www.tutorialspoint.com" target="_blank"><img src="../static/tutorialpoint.png" alt='tutorialspoint'>&nbsp;tutorialspoint</a>
                <a href="https://www.geeksforgeeks.org" target="_blank"><img src="../static/geeksforgeeks.png" alt='geeksforgeeks'>&nbsp;geeksforgeeks</a>
                <div class="feed">
                    <p>Any feedback whatsoever regarding this website would be appreciated. Thanks.</p>
                    <form action="" method="POST">{%csrf_token%}
                        <p>{{form.as_p}}</p>
                        <input type='submit' onclick="window.alert('Feedback received. Thanks')"value="Submit"/>    
                    </form>
                </div>    
            </div>
        </main>
        <footer>
            <a class="back-to-top" href="#"><i class="fa fa-chevron-up"></i></a>
            <p>Powered by Bluegate Multinational</p>
            <p><i class="fa fa-whatsapp"></i>&nbsp;&nbsp;08167824332</p>
            <p>&copy;&nbsp;2022</p>
        </footer>
    </body>
</html>
